body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 1vw;
    line-height: 1.7vw;
    font-weight: normal;
    color: #959595;
}

.header-main {
    background: #f49ca5 url(../img/background-header.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding-left: 17.4%;
    padding-bottom: 20%;
    padding-top: 3%;
    position: relative;
}

.header-main::after {
    content: "";
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 27%;
    left: 45.1%;
    display: block;
    width: 40%;
    height: 948px;
}

.header-main img {
    margin-bottom: 22%;
}

.header-main h1,
.block-power h2 {
    font-size: 3.5vw;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    margin-bottom: 2vw;
}

.header-main p,
.block-power p {
    font-size: 0.7vw;
    font-weight: 300;
    width: 35%;
    color: #ffffff;
}

.block-white {
    padding: 0;
    padding-left: 17.4%;
}

.block-up,
.block-down {
    padding-right: 17%;
}

.block-up {
    padding-top: 5%;
}

.block-up h2,
.block-down h2 {
    color: #222626;
    font-size: 2vw;
    font-weight: 300;
    margin-bottom: 0.9vw;
}

.block-up p {
    font-size: 0.8vw;
    line-height: 1.4vw;
    margin-bottom: 1.1vw;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.block-up-left {
    float: left;
    width: 47.7%;
    margin-bottom: 3.3vw;
    padding-right: 1%;
}

.block-up-right {
    float: left;
    width: 48.7%;
    margin-top: 7.6%;
}

.block-color {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #615f7d;
    color: #ffffff;
}

.block-name {
    display: block;
    font-size: 1.8vw;
    font-weight: 300;
    margin-bottom: 0.8vw;
}

.block-color p {
    font-size: 0.8vw;
    line-height: 1.4vw;
    font-weight: normal;
}

.block-color a,
.block-power a {
    display: inline-block;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    font-size: 0.8vw;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.block-color a::after,
.block-power a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(20px,-3px);
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 5px;
}

.block-color a:hover,
.block-power a:hover {
    opacity: 0.6;
}

.block-color a:hover::after,
.block-power a:hover::after {
    opacity: 0.6;
}

.block-color li {
    float: left;
    width: 21%;
    padding-top: 3.5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 50%;
}

.block-pink {
    background-color: #f5989d;
}

.block-sea {
    background-image: url(../img/box-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block-magenta {
    background-color: #bd8cbf;
}

.block-mint {
    background-color: #82ca9c;
}

.block-last {
    background-image: url(../img/box-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block-color li:nth-of-type(5) {
    width: 46%;
}

.block-double {
    background-image: url(../img/box-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block-double p {
    width: 62.5%;
    margin-bottom: 5.7%;
}

.block-down {
    padding-top: 3.6vw;
    padding-bottom: 6.7vw;
}

.block-quarter h3 {
    display: block;
    margin-top: 2.3vw;
    font-size: 0.8vw;
    font-weight: 600;
    color: #67676d;
}

.block-quarter {
    float: left;
    width: 22%;
    padding-right: 2.5%;
}

.block-quarter p {
    font-size: 0.8vw;
    line-height: 1.3vw;
}

.block-power {
    background-color: #b788b9;
    background-image: url(../img/background-auto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 17.4%;
    padding-bottom: 4.5%;
    padding-top: 24%;
    margin: 0;
}

.block-power h2 {
    width: 35%;
    font-size: 3vw;
    line-height: 4vw;
}

.block-power a {
    margin-top: 0.9vw;
}

.block-reason {
    background-color: #82ca9c;
    padding-left: 17.4%;
    padding-right: 17%;
    padding-top: 5%;
    padding-bottom: 8.5%;
    margin: 0;
    color: #ffffff;
}

.block-reason h2 {
    font-size: 2vw;
    font-weight: 300;
    margin-bottom: 2.2vw;
}

.block-reason h3 {
    font-size: 0.8vw;
    font-weight: 600;
}

.block-reason p {
    font-size: 0.8vw;
    line-height: 1.3vw;
}

.block-third {
    float: left;
    width: 31%;
    padding-right: 2.9%;
}

.block-third:last-child {
    padding-right: 0;
}

.block-buy {
    background-color: #f6f7fa;
    padding-left: 17.4%;
    padding-top: 5.5%;
    padding-bottom: 8%;
}

.block-buy-left {
    float: left;
    width: 30%;
    padding-left: 4.3%;
    padding-right: 6%;
    padding-top: 2.5vw;
}

.block-buy-right {
    float: left;
    width: 30%;
    padding-left: 3.7%;
    padding-right: 5%;
    padding-top: 2.5vw;
    background-color: #ffffff;
    box-shadow: 0 0 30px 5px #9a9a9a;
    padding-bottom: 5.3vw;
}

.block-buy-name {
    display: block;
    font-size: 1.7vw;
    line-height: 3vw;
    font-weight: 300;
    margin-bottom: 0.2vw;
}

.block-buy-label {
    font-size: 0.6vw;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3vw 0.7vw;
    border-radius: 5px;
}

.label-left {
    background-color: #e1e1e1;
}

.label-right {
    background-color: #bd8cbf;
}

.block-buy p {
    font-size: 0.8vw;
    line-height: 1.2vw;
}

.block-buy-link {
    display: block;
    margin-top: 0.7vw;
    margin-bottom: 1vw;
    width: 20%;
    color: #fff;
    font-size: 0.7vw;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #82ca9c;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.45vw 1.7vw;
}

.block-buy-apple,
.block-buy-win {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    min-width: 20px;
    min-height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    margin-right: 3%;
    padding: 0;
}

.block-buy-apple {
    background-image: url(../img/fa-apple.svg);
}

.block-buy-win {
    background-image: url(../img/fa-windows.svg);
}

.block-buy-apple:hover,
.block-buy-win:hover,
.block-buy-link:hover {
    opacity: 0.6;
}

.footer-main {
    background-color: #192431;
    color: #fff;
    padding-left: 17.4%;
    padding-right: 17.4%;
    padding-top: 6.5vw;
    padding-bottom: 6vw;
}

.footer-name {
    font-size: 0.8vw;
    font-weight: 600;
}

.footer-left {
    float: left;
    width: 49.5%;
    padding-right: 2.5%;
}

.footer-right {
    float: right;
    width: 40%;
}

.footer-right form {
    font-size: 0;
}

.footer-right input {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
    font-size: 1.4vw;
    font-family: "Open Sans", "Arial", sans-serif;
    min-height: 3vw;
    width: 83%;
    padding-left: 2%;
}

.footer-right button {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    min-height: 3.2vw;
    border: none;
    outline: none;
    background: #82ca9c url(../img/check.svg) no-repeat center;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.footer-column {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column b {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2.3vw;
    margin-bottom: 1vw;
}

.footer-column a,
.footer-left p {
    text-decoration: none;
    color: #fff;
    font-size: 0.8vw;
    line-height: 1.3vw;
    font-weight: normal;
}

.footer-column a:hover {
    color: #57697f;
}

.footer-column a:active {
    color: #0074fe;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-column li {
    line-height: 1vw;
}

.footer-right label {
    display: block;
    font-size: 0.7vw;
    line-height: 1.2vw;
    color: #57697f;
}